@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
    background-color: #f8f8f8;
    color: #000;
    padding: 2rem 12rem 2rem 12rem;
}

.presentation-image{
    background-image: image-set('');
    background-size: contain;
}